@font-face {
  font-family: 'Reisinger-Amir-Regular';
  src: url('/src/assets/fonts/Reisinger-Amir-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Reisinger-Idan-Regular';
  src: url('/src/assets/fonts/Reisinger-Idan-Regular.otf') format('otf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Reisinger-Michal-Regular';
  src: url('/src/assets/fonts/Reisinger-Michal-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Reisinger-Yarden-Maccabiah';
  src: url('/src/assets/fonts/Reisinger-Yarden-Maccabiah.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

