.app {
  height: 100svh;
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  overflow: hidden;

  &.login-layout {
    background-image: url('../images/login_background_image.jpg');
    background-size: cover;
    background-position: center;;
  }

  .overlay {
    position: fixed;
    top: 270px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 14;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;  
    cursor: pointer;
  }

  .menu-checkbox {
    position: fixed;
    top: 45px;
    right: 30px;
    width: 24px;
    height: 24px;
    opacity: 0;
    cursor: pointer;
    z-index: 21;
    -webkit-tap-highlight-color: transparent; 
  }

  .menu-toggle {
    position: fixed;
    top: 45px;
    right: 30px;
    width: 24px;
    height: 24px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-icons);
    cursor: pointer;
    z-index: 20;
    -webkit-tap-highlight-color: transparent;

    .menu-icon,
    .close-icon {
      display: block;
      position: absolute;
      transition: opacity 0.3s ease;
    }

    .close-icon {
      opacity: 0;
    }

    .menu-icon {
      opacity: 1;
    }
  }

  main {
    flex: 1;
    position: relative;
    width: 100%;
    display: flex;
    min-height: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }

  .menu-checkbox:checked ~ main .sidebar {
    height: 0;
    overflow: hidden;
    transition: width 0.3s ease;

    .list-items {
      opacity: 0;
    }
  }

  .menu-checkbox:not(:checked) ~ .overlay {
    opacity: 1;
    pointer-events: all;
    z-index: 51;
  }

  // Icon toggle styles
  .menu-checkbox:not(:checked) ~ .menu-toggle {
    .menu-icon {
      opacity: 0;
    }
    
    .close-icon {
      opacity: 1;
    }
  }
}