.sidebar {
  position: fixed;
  top: 100px;
  bottom: 0;
  right: 0;
  height: fit-content;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  transition: all 0.3s ease;
  z-index: 15;

  .sidebar-content {
    opacity: 1;
    .list-items {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px 0 20px 20px;
      opacity: 1;
      transition: opacity 0.3s ease; 
      gap: 5px;
    
  
      .list-item {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        padding: 10px;
        cursor: pointer;
        &.active {
          background-color: var(--color-primary);
          color: var(--color-white);
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
        }
        &:hover {
          background-color: var(--color-secondary);
          color: var(--color-white);
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
        }
      }
    }
  }

}